@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Courier+Prime|Labrada|Quicksand');

:root {
    --main-bg-colour: #ffffff;
    --main-text-colour: #000000;
    --secondary-background-colour: lightgrey;
    --hover-colour: #4f7cac;
    --accent-colour: #000000;
}

body {
    background: var(--main-bg-colour);
    color: var(--main-text-colour);
}

a {
    color: var(--main-text-colour);
    text-decoration: none;
}

a:hover {
    color: var(--main-text-colour)
}

.fixed-top {  
    border-bottom: var(--accent-colour) 1px solid;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 700;
    background-color: var(--main-bg-colour);
}

.navbar {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5rem 1rem;
    max-width: 1140px;
}


.navbar-elements-wide {
    display: flex;
    margin-left: auto!important;
}

.navbar-elements-thin {
    display: flex;
    margin-left: auto!important;
}

.navbar-element {
    padding: 10px;
    margin-right: 28px;
    display: block;
    line-height: 34px;
    font-size: 24px;
    text-decoration: none;
    font-family: "Roboto Mono",monospace;
    font-weight: 700;
}

.navbar-name {
    display:block;
    font-size: 34px;
}

.link-out:hover {
    transition: 0.2s;
    transition-property: color;
    color: var(--hover-colour);
}

.navbar-toggler {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    margin-right: 28px;
    line-height: 1;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover {
    transition: 0.2s;
    transition-property: color;
    color: var(--hover-colour);
}

@media (min-width: 980px){
    .navbar-toggler, .nav-overlay {
        display: none;
    }
}

@media (max-width: 979px) {
    .navbar-elements-wide {
        display: none;
    }
}

.nav-overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.95;
    background-color: var(--hover-colour);
    overflow-x: hidden;
    transition: 0.5s;
    z-index:999999!important;
}

.nav-close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 24px;
    color: var(--main-text-colour);
    cursor: pointer;
}

.nav-close:hover {
    color: white;
    transition: 0.2s;
}

.overlay-content {
    position:relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.nav-overlay a {
    padding: 8px;
    font-size: 36px;
    text-decoration: solid;
    display: block;
    transition: 0.3s;
    font-family: "Roboto Mono",monospace;
}

.nav-overlay a:hover {
    color: white;
}

#landing-top {
    height: 55vh;
    min-height: 500px;
    width: 100%;
    margin: auto;
}

.landing-block {
    max-width: 600px;
}

.align-items-centre {
    display: flex!important;
    align-items: center!important;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1120px;
    margin: auto;
}

.landing-title {
    font-family: "Courier Prime", "sans-serif";
    font-size: 40pt;
    font-weight: 900;
    margin-bottom: 0px;
}

.landing-content {
    font-family: "Quicksand", "sans-serif";
    font-size: 16pt;
    margin-top: 0px;
}

.featured-link {
    padding-bottom: 3px;
    border-bottom: var(--accent-colour) solid 1px;
    color: var(--main-text-colour);
    font-weight: 400;
    font-size: 16pt;
    margin-right: 10px
}

.featured-link:hover {
    color: var(--hover-colour);
    border-color: var(--hover-colour);
    transition: 0.2s;
}

.section-title {
    font-size: 32pt;
    font-family: "Courier Prime", "sans-serif";
    margin-bottom: 0px;
    text-decoration: underline;
}

.project {
    margin-top: 10px;
    padding-bottom: 10px;
    max-width: 1000px;
}

.project-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24pt;
    font-family: "Labrada", monospace;
    display: inline;
}

.project-tools {
    display: inline;
    font-style: italic;
    font-family: "Labrada", monospace;
    font-size: 16pt;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.project-content {
    margin-top: 0px;
    font-size: 16pt;
}